<div class="wrapper">
  <mat-toolbar color="primary">{{ title }}</mat-toolbar>

  <div *ngIf="(getAllTodos | async) as myData">
    <app-todo-summary [thingsToDo]="myData"></app-todo-summary>
    <app-todo-list [thingsToDo]="myData" (thingsToDoDelete)="deleteTodo($event)"></app-todo-list>
  </div>

  <app-generic-input (newItem)="addTodo($event)"></app-generic-input>
  <hr>
  <app-switch-example></app-switch-example>
  <app-calculator></app-calculator>
  <app-observables></app-observables>
  <app-footer></app-footer>
</div>
